{{! Abilities Tab }}
<section
  class='tab features scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <!-- 2 columns: core | personal -->
  <section class='grid grid-2col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='abilities flexcol'>
          {{#each system.movementAbilities as |movementAbilities key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
           >
              {{localize (lookup @root.config.movementAbilities key)}}
            </label>
            <input
              type='text'
              name='system.movementAbilities.{{key}}.value'
              value='{{movementAbilities.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
        {{#each system.abilities as |ability key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='1d6'
              data-label='Ability Check vs {{localize (lookup @root.config.abilities key)}} of {{ability.value}}'
              data-dc='{{ability.value}}'
            >
              {{localize (lookup @root.config.abilities key)}}
            </label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
        {{#each system.strengthAbilities as |strengthAbilities key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
           >
              {{localize (lookup @root.config.strengthAbilities key)}}
            </label>
            <input
              type='text'
              name='system.strengthAbilities.{{key}}.value'
              value='{{strengthAbilities.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
        {{#each system.combatAbilities as |combatAbilities key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='1d6'
              data-label='Check vs {{localize (lookup @root.config.combatAbilities key)}} of {{combatAbilities.value}}'
              data-dc='{{combatAbilities.value}}'
            >
              {{localize (lookup @root.config.combatAbilities key)}}
            </label>
            <input
              type='text'
              name='system.combatAbilities.{{key}}.value'
              value='{{combatAbilities.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
      </div>
    </aside>

    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='abilities flexcol'>
        {{#each system.abilitiesPersonal as |abilityPersonal key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='2d6'
              data-label='Ability Check vs {{localize (lookup @root.config.abilitiesPersonal key)}} of {{abilityPersonal.value}}'
              data-dc='{{abilityPersonal.value}}'
            >
              {{localize (lookup @root.config.abilitiesPersonal key)}}
            </label>
            <input
              type='text'
              name='system.abilitiesPersonal.{{key}}.value'
              value='{{abilityPersonal.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
        <br/><br/><br/><br/>
        {{#each system.armourSave as |armourSave key|}}
          <div class='ability flexrow flex-group-center'>
            <label
              class='resource-label rollable flexlarge align-left'
              data-action='roll'
              data-roll='1d6'
              data-label='Save vs {{localize (lookup @root.config.armourSave key)}} of {{armourSave.value}}'
              data-dc='{{armourSave.value}}'
            >
              {{localize (lookup @root.config.armourSave key)}}
            </label>
            <input
              type='text'
              name='system.armourSave.{{key}}.value'
              value='{{armourSave.value}}'
              data-dtype='Number'
            />
          </div>
        {{/each}}
      </div>
    </aside>
   </section>
    <section class='main'>
      {{!-- Other main content can go here --}}
    </section>
  </section>